.tag_content {
  width: 64vw;
  // height: 64vh;
  border: 1px solid #91c9c4;
  position: absolute;
  left: calc(50% - 32vw);
  top: calc(50% - 27vh);
  overflow-x: scroll;
  // .tag_content_labels {
  &_labels {
    width: 64vw;
    height: 30px;
    display: flex;
    align-items: center;
    .tag_content_title {
      width: 44.8vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
      border-right: 1px solid #91c9c4;
    }
    .tag_content_control {
      width: 19.2vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
    }
  }
}

.tag_content_categories {
  display: flex;
  overflow-x: scroll;
}

.tag_content_ind {
  width: 44.8vw;
  height: 7vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91c9c4;
  border-right: 1px solid #91c9c4;
  box-shadow: 1px 3px 3px #c4c4c4;
  p {
    font-size: 20px;
    width: 17vw;
    margin-left: 5px;
  }
}

.tag_content_buttons {
  width: 19.2vw;
  height: 7vh;
  border-bottom: 1px solid #91c9c4;
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px 3px 3px #c4c4c4;
  button {
    width: 6.25vw;
    height: 4.4vh;
    border-style: none;
    font-size: 1vw;
    box-shadow: 0px 3px 3px #c4c4c4;
    cursor: pointer;
  }

  .hensyu {
    background-color: #91c9c4;
    color: white;
  }

  .sakujyo {
    background-color: #cf7c7c;
    color: white;
  }

  .shousai {
    background-color: #c4c4c4;
    color: white;
  }
}

.tag_content_info {
  background: #EFF2F9;
}

.tag_category_add {
  cursor: pointer;
  color: #52a49a;
  margin-left: 1vw;
}

