.util_container {
  // height: 100%;
  display: flex;
  // justify-content: space-between;
  background-color: #ebedf1;
  //印刷用
  @media print{
    background-color: white;
  }
}

// max-width 使う


.util_sidebar {
  width: 220px;
  height: 82vh;
  background-color: #e5e5e5;
  text-align: left;

  &_button {
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    border: 1px solid #c4c4c4;
    position: relative;

    i {
      position: absolute;
      right: 20px;
    }
  }

  &_button--selected {
    background-color: white;

    i {
      color: #52A49A;
    }
  }

  &_link {
    text-decoration: none;
    text-align: left;
    margin-right: 15px;
    margin-left: 20px;
    color: #000;
    &--selected {
      color: #52a49a !important;
    }
  } 
  
}

.util_content {
  // 乱用すると面倒臭い はみ出すなど、%感覚で使うとずれたりする、原因見つけるのに時間がかかる
  // コンテナを無視するなど面倒臭い
  width: 70vw;
  height: 75vh;
  background-color: white;
  border: 1px solid #c4c4c4;
  margin: 20px 105px 0 105px;
  position: relative;

  //印刷用
  @media print{
    border: none;
  }

  // h2 {
  //   width: 80vw;
  .util_title {
    width: 70vw;
    height: 50px;
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    font-weight: lighter;
    display: flex;
    align-items: center;
    // padding-left: 10px;
    // padding-right: 20px;
    &--text {
      font-size: 20px;
      padding-left: 20px;
    }
    //印刷用
    @media print{
      display: none;
    }
  }
// }
}




.home-list {
  width: 64vw;
  height: 64vh;
  border: 1px solid #91c9c4;
  position: absolute;
  left: calc(50% - 32vw);
  top: calc(50% - 27vh);
  overflow-x: scroll;

  &_labels {
    width: 64vw;
    height: 30px;
    display: flex;
    align-items: center;
    &--left {
      width: 44.8vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
      border-right: 1px solid #91c9c4;
    }
    &--right {
      width: 19.2vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
    }
  }
}

.home-agents {
  display: flex;
  overflow-x: scroll;
  &_info {
    width: 44.8vw;
    height: 19vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #91c9c4;
    border-right: 1px solid #91c9c4;
    box-shadow: 1px 3px 3px #c4c4c4;
    &--img {
      width: 27.8vw;
      display: flex;
      justify-content: center;
      object-fit: contain;
    }
    &--name {
      font-size: 26px;
      width: 17vw;
      display: flex;
      justify-content: center;
    }
  }
  &_buttons {
    width: 19.2vw;
    height: 19vh;
    border-bottom: 1px solid #91c9c4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 3px 3px #c4c4c4;
    // a {
    //   text-decoration: none;
    // }
  }
}

.util_action_button {
  width: 6.25vw;
  height: 4.4vh;
  border-style: none;
  font-size: 1vw;
  box-shadow: 0px 3px 3px #c4c4c4;
  cursor: pointer;

  &--edit {
    background-color: #91c9c4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--delete {
    background-color: #cf7c7c;
    color: white;
  }

  &--list {
    background-color: #c4c4c4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.util_modalcont {
  width: 900px;
  height: 500px;
  display: none;
  background-color: white;
  z-index: 1;
  border: 1px solid black;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);

  .util_deletemodal {
    width: 900px;
    height: 500px;
    position: relative;

    &_alert {
      position: relative;
      font-size: 46px;
      text-align: center;
      margin-top: 100px;
    }

    .util_deletebuttons {
      position: relative;
      width: 600px;
      margin: 120px auto;
      display: flex;
      justify-content: space-between;

      // a {
      //   text-decoration: none;
      // }

      &_item {
        width: 220px;
        height: 80px;
        border-style: none;
        font-size: 24px;
        color: white;
        box-shadow: 0px 6px 6px #c4c4c4;
        cursor: pointer;

        &--no {
          background-color: #91c9c4;
        }
        &--yes {
          background-color: #cf7c7c;
        }
      }
    }
  }
  &_text {
    font-size: 46px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}



