.agent_container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #EBEDF1;
}

.agent_leftcontainer{
  width: 340px;
  height: 75vh;
  background-color: #E5E5E5;
  text-align: center;

  div{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
  }

  .agent_manage{
    color: #52A49A;
    background-color: white;
    a{
      text-decoration: none;
    }
  }

  .agent_add{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .tag_manage{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .usersite{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.agent_rightcontainer{
  width: 1050px;
  height: 570px;
  background-color: white;
  border: 1px solid #C4C4C4;
  margin: 20px 20px 0 20px;
  position: relative;

  h2{
    width: 1050px;
    height: 50px;
    border-bottom: 1px solid #C4C4C4;
    margin: 0;
    font-weight: lighter;
    display: flex;
    align-items: center;
    // padding-left: 10px;
    // padding-right: 20px;
    .agent_titile{
      font-size: 30px;
      padding-left: 20px;
    }
  }

  .agent_smallrightcontainer{
    width: 920px;
    height: 460px;
    border: 1px solid #91C9C4;
    position: absolute;
    left: calc(50% - 460px);
    top: calc(50% - 205px);
    overflow-y: scroll;
    .agent_smallrightcontainer_container{
      width: 920px;
      height: 30px;
      display: flex;
      align-items: center;
      .agent_smallcontainer_title{
        width: 644px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #52A49A;
        color: white;
        border-right: 1px solid #91C9C4;

      }
      .agent_smallcontainer_control{
        width: 276px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #52A49A;
        color: white;
      }
    }
  }
}

.agent_all{
  display: flex;
}

.agent_ind{
  width: 644px;
  height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #91C9C4;
  border-right: 1px solid #91C9C4;
  box-shadow: -1px 3px 3px #c4c4c4;
  img{
    width: 400px;
    display: flex;
    justify-content: center;
    object-fit: cover;
  }
  p{
    font-size: 26px;
    width: 244px;
    display: flex;
    justify-content: center;
  }
}

.agent_buttons{
  width: 276px;
  height: 150px;
  border-bottom: 1px solid #91C9C4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px 3px 3px #c4c4c4;
  button{
    width: 90px;
    height: 35px;
    border-style: none;
    font-size: 14px;
    box-shadow: 0px 3px 3px #C4C4C4;
    cursor: pointer;
  }

  .hensyu{
    background-color: #91C9C4;
    color: white;
  }

  .sakujyo{
    background-color: #CF7C7C;
    color: white;
  }

  .moushikomi{
    background-color: #C4C4C4;
    color: white;
  }
}

#modal{
  width: 900px;
  height: 500px;
  display: none;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  
  .modal_container{
      width: 900px;
      height: 500px;
      position: relative;

    p{
      font-size: 46px;
      text-align: center;
      margin-top: 100px;
    }
  
    .delete_buttons{
      width: 600px;
      margin: 120px auto;
      display: flex;
      justify-content: space-between;
      button{
        width: 220px;
        height: 80px;
        border-style: none;
        font-size: 24px;
        color: white;
        box-shadow: 0px 6px 6px #C4C4C4;
      }
      .no{
        background-color: #91C9C4;
      }
      .yes{
        background-color: #CF7C7C;
      }
    }
  }
}



