.tag-list {
  width: 64vw;
  // height: 64vh;
  border: 1px solid #91c9c4;
  position: absolute;
  left: calc(50% - 32vw);
  top: calc(50% - 27vh);
  overflow-x: scroll;
  // .tag-list_labels {
  &_labels {
    width: 64vw;
    height: 30px;
    display: flex;
    align-items: center;
    &--left {
      width: 44.8vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
      border-right: 1px solid #91c9c4;
    }
    &--right {
      width: 19.2vw;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #52a49a;
      color: white;
    }
  }
}

.tag-categories {
  display: flex;
  overflow-x: scroll;
  &_info {
    width: 44.8vw;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #91c9c4;
    border-right: 1px solid #91c9c4;
    box-shadow: 1px 3px 3px #c4c4c4;
    &--name {
      font-size: 20px;
      width: 17vw;
      margin-left: 5px;
    }
  }
  &_buttons {
    width: 19.2vw;
    height: 7vh;
    border-bottom: 1px solid #91c9c4;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 3px 3px #c4c4c4;
  }
}


.tag-more {
  background: #e1f0ef;
  padding: 1%;
  display: inline-block;

  &_label {
    margin-bottom: 5px;
  }

  &_desc {
    background: #fff;
    padding: 1% 2%;
    border-radius: 15px;
    width: 50%;

    &--text {
      color: #000;
      margin: 0;
    }
  }

  .tag-items {
    display: flex;
    margin-bottom: 10px;

    .tag-item {
      background: #fff;
      padding: 3px 5px;
      margin: 0 5px 0 0;
      border-radius: 15px;
      display: flex;
      align-items: center;
  
      &_text {
        background: transparent;
        // border: 1px solid #CF7C7C;
        border-radius: 15px;
        margin: 0 10px 0 0;
        padding: 2px 6px;
        // color: #CF7C7C;
      }

      &_edit {
        width: 22px;
        height: 22px;
        margin-left: 5px;
        border-radius: 100%;
        background: #7DCEA0;
      }
      
      &_delete {
        width: 22px;
        height: 22px;
        margin-left: 5px;
        border-radius: 100%;
        background: #CF7C7C;
        color: #fff;
      }
    }
    i {
      margin-left: 5px; 
      font-size: 0.8em;
    }
  }
  
  &_add {
    cursor: pointer;
    color: #52a49a;
    margin-left: 1vw;
  }
}

.tag_category_add {
  cursor: pointer;
  color: #52a49a;
  margin-left: 1vw;
}

// ここから edit_tag_category.php 用


