.agent_container{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.agent_leftcontainer{
  width: 340px;
  height: 100%;
  // background-color: #E5E5E5;
  text-align: center;

  div{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    &::before{
      left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #7a0;
    border-right: 2px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
  }

  .agent_manage{
    color: #52A49A;
    background-color: white;
    a{
      text-decoration: none;
    }
  }

  .agent_add{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .tag_manage{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }

  .usersite{
    border: 1px solid #C4C4C4;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

.agent_rightcontainer{
  width: 1000px;
  height: 750px;
  background-color: white;
  h2{
    width: 1000px;
    height: 75px;
    font-size: 36px;
  }
}