.agent_informarion{
  width: 64vw;
  height: 80vh;
  margin: 15px 30px;

  p{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    label{
      font-size: 1.3vw;
      font-weight: 500;
    }
    input{
      padding-left: 10px;
      width: 48vw;
      height: 3.5vh;
      border-style: none;
      background-color: #EBEDF1;
      border-radius: 1vh;
      font-size: 1.4vw;
    }

    textarea{
      padding-left: 10px;
      width: 48vw;
      height: 3.5vh;
      border-style: none;
      background-color: #EBEDF1;
      border-radius: 1vh;
      font-size: 1.4vw;
      color: black;
    }

    #image{
      background-color: transparent;
    }
  }

  .agent_img{
    flex-wrap: wrap;

    .agent_image{
      width: 16vw;
      height: 12.8vh;
      background-color: #EBEDF1;
      border-radius: 1vh;
    }

    img{
      width: 48vw;
      object-fit: contain;
      margin: 0;
      padding-left: 10px;
      background-color: #EBEDF1;
      border-radius: 1vh;
      border-top: 1px solid #EBEDF1;
      border-bottom: 1px solid #EBEDF1;
    }

    .file_upload_button{
      cursor: pointer;
      color: #52A49A;
      margin-left: 21vw;
    }

    input{
      display: none;
    }
  }

  .agent_info_container{
    textarea{
      width: 48vw;
      height: 20.8vh;
      overflow-x: scroll;
    }
  }

  .agent_term{
    width: 33.3vw;
    margin-bottom: 10px;
    select{
      width: 12vw;
      height: 3.5vh;
      border-style: none;
      background-color: #EBEDF1;
      border-radius: 1vh;
      
    }
  }

  .manage_button{
    width: 8vw;
    height: 5vh;
    border-style: none;
    background-color: #91C9C4;
    color: white;
    position: absolute;
    left: calc(50% - 4vw);
    box-shadow: 0px 3px 3px #9b9b9b;
  }
}


#tag_modal{
  max-width: 60vw;
  min-width: 22vw;
  max-height: 60vh;
  overflow-x: scroll;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: none;
  .tag_modal_container{
    max-width: 60vw;
    min-width: 22vw;
    max-height: 60vh;
    overflow-x: scroll;

    .tag_modal_buttons{
      width: 20vw;
      display: flex;
      justify-content: space-between;
      button{
        width: 8vw;
        height: 5vh;
        border-style: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .tag_modalClose{
          background-color: #91C9C4;
        }
  
        .tag_decison{
          background-color: #cf7c7c;
        }
      }
    }
  }
}