.changetag {
  width: 64vw;
  margin: 15px auto;

  &_title {
    font-size: 1.5vw;
  }

  &_item {

    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    &--label {
      font-size: 18px;
      font-weight: 500;
    }

    &--textarea {
      padding: 10px;
      width: 40vw;
      height: 10vh;
      border-style: none;
      background-color: #ebedf1;
      border-radius: 1vh;
      font-size: 18px;
      color: black;
      resize: none;
    }

    &--input {
      padding: 6px 10px;
      width: 20vw;
      height: 3.5vh;
      border-style: none;
      background-color: #ebedf1;
      border-radius: 1vh;
      font-size: 1.4vw;
      margin-right: 286px;
    }

    &--color {
      padding: 2px 10px;
      width: 15vw;
      height: 3.5vh;
      border-style: none;
      background-color: #ebedf1;
      border-radius: 1vh;
      font-size: 1.4vw;
      margin-right: 286px;
    }
    
  }


  &_buttons {

    width: 30%;
    height: 7vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    &--submit {
      width: 8vw;
      height: 5vh;
      border-style: none;
      background-color: #91c9c4;
      color: white;
      margin-left: 40%;
      box-shadow: 0px 3px 3px #9b9b9b;
    }
    
    &--back {
      width: 8vw;
      height: 5vh;
      font-size: 1vw;
      cursor: pointer;
      background-color: #c4c4c4;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 3px 3px #9b9b9b;
    }

  }

  .editoption {
    margin-left: 150px !important;
  }


}

