@mixin tb {
  @media screen and (max-width: 960px) {
    @content;
  }
}

$mb: 520px;

@mixin mb {
  @media screen and (max-width: $mb) {
    @content;
  }
}



.header {
  background: #52a49a;
  width: 100vw;
  height: 15vh;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  @include tb {
  }

  &_top{
    height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &_bottom{
    height: 2vh;
    justify-content: end;
    display: flex;
    padding-right: 30px;
    @include mb{
      font-size: 12px;
      padding-right: 20px;
    }
    &--contact{
      height: 3vh;
      color: #ffffff;
      font-weight: bold;
      padding: 5px 3px 3px 3px;

      text-decoration: none;
      color: #ffffff;
      transition:.3s;
      &:hover{
          color: black ;
  }
    }
  }
}

.header_logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;

  & p {
    font-size: 1.6em;
    color: #ffffff;
    font-weight: 700;
    margin: 0;

    @include tb {
      font-size: 1em;
      @include mb {
        font-size: 26px;
      }
    }
  }

  & img {
    width: 200px;
    @include tb {
        width: 100px;
      }
  }
}
