// ブレイクポイント
$tb: 960px;

@mixin tb {
  @media screen and (max-width: $tb) {
    @content;
  }
}

//ブレイクポイント
$mb: 520px;

@mixin mb {
  @media screen and (max-width: $mb) {
    @content;
  }
}

.container{
  background-color: #EBEDF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.heading_wrapper{
  color: #52A49A;
  background-color: #FFFFFF;
  width: 80%;
  height: 56px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  // padding-bottom: 30px;
  padding-left: 20px;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  @include tb {
    margin-bottom: 60px;
    @include mb{
      font-size: 16px;
      height: 40px;
      width: 90%;
    }
  }
  h2{
    margin: 0;
  }
  .favorites{
    background-color: #fff;
    display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      right: 12vw;
      font-size: 16px;
      font-weight: 600;
      padding: 5px 20px;
      border: 1px solid #cf7c7c;
      border-radius: 20px;
      @include tb {
        width: 300px;
        top: 140px;
        background-color: #fff;
        @include mb {
          width: 250px;
          top: 125px;
        }
      }
      p{
        margin: 5px;
        color: #cf7c7c;
        @include mb {
          font-size: 14px;
        }
      }
      .favorite_count{
        margin: 5px 10px;
        @include mb {
          font-size: 14px;
        }
      }
      .favorite{
        display: inline-block;
        color: #fff;
        box-shadow: 0 3px 0 #cf7c7c; /* 影の太さ・色 */
        // margin: 5px;
        padding: 5px 8px;
        margin-left: 10px;
        border-radius: 10px;
        background-color: #cf7c7c;
        cursor: pointer;
        @include mb {
          padding: 4px 6px;
          margin-left: 5px;
          font-size: 14px;
        }
        &:hover{
          box-shadow: none;
  transform: translateY(3px);
        }
        &:active{
          box-shadow: none;
  transform: translateY(3px);
        }
      }
  }
  }


.info_wrapper{
  max-width: 2000px;
  line-height: 25px;
  background-color:#FFFFFF;
  width: 80%;
  margin-bottom: 30px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);

    &-name{
      color: #FFFFFF;
      background-color: #52A49A;
      height: 60px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);

      @include mb{
        height: 45px;
      }
  }
  @include mb{
    width: 95%;
  }
}


.info-name{
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 18px;
  @include mb{
    font-size: 22px;
    padding-top: 10px;
  }
}

.img_agent{
  width: 96%;
  margin-top: 10px;
  margin-left: 10px
}

.table_heading{
  text-align: center;
  color: #52A49A;
  font-weight: bold;
  margin: 0px;
  font-size: 20px;
  margin-top: 20px;
  @include mb{
    font-size: 15px;
  }
}

.table{
  width: 96%;
  height: 35%;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 11px;
  border-collapse: collapse;
  border: solid 1px #888;
  &_title,&_content{
    border: solid 1px #CCCCCC;
    padding: 3px 10px;
    }
  &_title{
    width: 160px;
    @include mb{
      width: 70px;
    }
  }
}

.table_title{
  background-color: #EBEDF1;
}

.info_inner-box{
  display: flex;
  flex-direction: row;
  @include tb{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.info_inner-leftbox{
  width: 50%;
  height: 30%;
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
  @include tb{
    width: 80%;
    padding-top: 20px;
    padding-left: 30px;
  }
  @include mb{
    padding-top: 10px;
    padding-left: 0px;
  }
  &_alerts{
    display: flex;
    flex-wrap: wrap;
    .student_numbers{
      font-weight: bold;
      color: red;
      font-size: 20px;
      margin-left: 10px;
      @include tb{
        font-size: 18px;
      @include mb {
        font-size: 16px;
      }
    }
    }
    .last_time{
      font-weight: bold;
      font-size: 20px;
      color: orange;
      margin-left: 10px;
      @include tb {
        font-size: 18px;
      @include mb {
        font-size: 16px;
      }
    }
    }

  }
}
.info_inner-rightbox{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 30px;
  padding-right: 30px;
  @include tb{
    width: 80%;
    padding-top: 20px;
    padding-right: 0px;
  }
  @include mb{
    padding-top: 20px;
    padding-right: 0px;
  }
  &_catchcopy{
    color: #52A49A;
    position: relative;
    @include mb{
      font-size: 16px;
    }
    &::before{
      content: "";
      display: inline-block;
      width: 2.5px;
      height: 50px;
      background-color: #52A49A;
      position: absolute;
      left: -20px;
      top: -10px;
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg);
      @include mb{
        left: -3px;
      }
    }
    &::after{
      content: "";
      display: inline-block;
      width: 2.5px;
      height: 55px;
      background-color: #52A49A;
      position: absolute;
      top: -10px;
      right: -20px;
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
      @include mb{
        right: -3px;
      }
    }
  }
  &_context{
    padding-left: 30px;
    padding-right: 30px;
    @include mb{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.info_inner-point{
  width:90%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  @include mb {
    width: 95%;
  }
  &_title{
    height: 35px;
    background-color: #52A49A;
    color: #FFFFFF;
    padding-top: 5px;
    margin: 0px;
    }
    &_list{
      width: 90%;
      padding-left: 10px;
      @include mb {
        padding-left: 10px;
      }
      li{
        list-style-type: disc !important;
        font-weight: bold;
        position: relative;
        left: 2vw;
        text-align: left;
      }

    }
}


.btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  height: 40px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
  @include tb{
    margin-right: 0px;
    margin-left: 0px;
  }
  &-fav{
    background-color: #db7093;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: 20px;
    
    @include tb{
      width: 130px;
        height: 30px;
      font-size: 13px;
      @include mb{
        width: 120px;
        height: 25px;

    }
  }
  }
  &-register{
    background-color: #F3AF56;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-weight: bold;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    padding: 0;
    @include tb{
      font-size: 13px;
      width: 130px;
      height: 30px;
      @include mb{
        font-size: 13px;
        width: 120px;
        height: 25px;
        top: -1.14px;
    }
  }
}
}


