.container{
  background-color: #EBEDF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}

.heading_wrapper{
  color: #52A49A;
  background-color: #FFFFFF;
  width: 1215px;
  height: 65px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.info_wrapper{
  background-color:#FFFFFF;
  width: 1158px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
    &-name{
      color: #FFFFFF;
      background-color: #52A49A;
      height: 60px;
  }
}

.info-name{
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 18px;
}

.img_agent{
  height: 320px;
  width: 583px;
}

.info_inner-box{
  display: flex;
  flex-direction: row;
}

.info_inner-rightbox{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_catchcopy{
    color: #52A49A;
  }
  &_context{
    padding-left: 25px;
    padding-right: 25px;
  }
}

.info_inner-point{
  margin-top: 0px;
  width: 400px;
  &_title{
    height: 30px;
    background-color: #52A49A;
    color: #FFFFFF;
    border-color: #52A49A;
    padding-top: 5px;
  }
}

.btn{
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  height: 40px;
  margin-right: 100px;
  margin-left: 100px;

  &-fav{
    background-color: #F3AF56;
    border-radius: 20px;
    width: 200px;
  }
  &-register{
    background-color: #CF7C7C;
    border-radius: 20px;
    width: 160px;
  }
}


