h3{
    text-align: center;
    font-size: 2em;
    & a{
        color: black;
    }
}
.invoice__table {
    width: 60%;
    border-collapse: collapse;
    margin: 5% auto;
    text-align: left;
    background: #EBEDF1;

& th,td {
    border: solid 1px #91C9C4;
    /*実線 1px 黒*/
    padding: 0.5em;
    }

&__title{
    text-align: center;
    font-size: 1.5em;
}

&__small-item{
    background: white;
}
&__big-item{
    background: #91C9C4;/*背景色*/
    padding: 1.5em;
    font-size: 1.2em;
    & th{
        color: white;
    }
}
&__number{
    text-align: right;
}
}


.invoice__buttons__section{
    display: flex;
    justify-content: center;
    text-align: center;

    .login_button{
        margin: 0 5%;
    }
}