.kari-upper__content{
    text-align: center;
    padding: 2%;
    justify-content: center;

    &__date{
        margin: 0;
    }

    h3{
        margin: 2% 0;
        font-size: 2em;
    }


    &__number{
        margin: 9% 10%;
        display: flex;
        justify-content: center;
        &-box{
            display: block;
            width: 30%;
            margin: 0 5%;
        }
        &-title{
            color: #52a49a;
            font-size: 1.5em;
        }
        &-num{
            font-size: large;
            font-weight: bold;
            font-size: 3em;
            margin: 0;
        }
        &-unit{
            color: black;
            font-size: 1em;
        }
    }
}

.invoice__buttons__section{
    display: flex;
    justify-content: center;
    text-align: center;

    .login_button{
        margin: 0 5%;
    }
}