.invoice_title {
    text-align: center;
    font-size: 1.5em;
    margin: 20px auto;
    & a{
        color: black;
    }
}

.invoice_button {
    width: 180px;
    height: 40px;
    color: white;
    background-color: #52a49a;
    margin: 0 auto 20px auto;
    font-size: 24px;
    border-style: none;
    box-shadow: 6px 2px 3px #c0c1c5;
}

.invoice__table {
    width: 60%;
    border-collapse: collapse;
    margin: 3% auto;
    text-align: left;
    background: #EBEDF1;

& th,td {
    border: solid 1px #91C9C4;
    /*実線 1px 黒*/
    padding: 0.5em;
    }

&__title{
    background: #52a49a;/*背景色*/
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

&__small-item{
    background: white;
}
&__big-item{
    background: #52a49a;/*背景色*/
    padding: 1.5em;
    font-size: 1.2em;
    & th{
        color: white;
    }
}
&__number{
    text-align: right;
    width: 130px;
}
}

.invoice__buttons__section{
    display: flex;
    justify-content: center;
    text-align: center;

    .util_fullscreen_button{
        margin: 0 5%;
    }
}

.print-only-area{
    display: none;
}

.invoice__agent-select{
    padding-left: 35%;
}

/*
＝＝＝＝＝＝＝＝＝＝＝＝＝ここからプリント用のCSS＝＝＝＝＝＝＝＝＝＝＝＝＝
*/

@media print{
    .no-print-area {
    display: none;
    }

    .print-only-area{
        // width: 210mm;
        // height: 150mm;
        box-sizing: border-box;
        // padding: 20mm;
        margin: 0 auto;
    }

    header{
        display: none;
    }
    .print-only-area{
        display: block;
        &__head{
            display: flex;
            margin-bottom: 10%;
            & h1{
                width: 50%;
            }
            & div{
                width: 50%;
                text-align: right;
                padding-top: 1.5em;
            }
        }
        &__logo{
            width: 50%;
            margin: left 40%; ;
        }
        &__information{
            display: flex;
            margin-bottom: 20%;
            & div{
                margin-right: 15%;
            }
        }
        &__deadline{
            font-size: 1.5em;
            margin-bottom: 5%;
            font-weight: 700;
        }
    }


    .invoice__table {
        width: 100%;
        border-collapse: collapse;
        margin: 5% auto;
        text-align: left;
        background: white;
    
    & th,td {
        border: solid 1px black;
        /*実線 1px 黒*/
        padding: 0.5em;
        }
    
    &__title{
        text-align: center;
        font-size: 1.5em;
    }
    
    &__small-item{
        background: white;
    }
    &__big-item{
        background: #E5E5E5;/*背景色*/
        padding: 1.5em;
        font-size: 1.1em;
        & th{
            color: black;
        }
    }
    &__number{
        text-align: right;
    }
    }
}