.util_fullscreen_container{
  width: 100%;
  height: 82vh;
  background-color: #EBEDF1;
  display: flex;
  align-items: center;
}

.util_fullscreen {
  // height: 500px;
  height: 75vh;
  width: 750px;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  vertical-align: middle;


  &--small {
    height: 40vh;
  }

  .util_login {
  
    &_title{
      width: 300px;
      color: #52A49A;
      font-size: 36px;
      border-bottom: 1px solid #000;
      margin: 10px auto 40px auto;
      padding-bottom: 5px;
      padding-top: 20px;
  
      &--long {
        width: 400px !important;
      }
    }

    &_error {
      margin: 0;
      font-size: 12px;
      background-color: rgba(207, 124, 124, 0.8);
      border: 1px solid #f75149;
      color: #fff;
      width: 50%;
      margin: 0 auto;
      padding: 4px;
      border-radius: 5px;
    }
  
    &_text {
      width: 650px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px auto;
      position: relative;

      &:first-child {
        margin-top: 20px;
      }
  
      &--label{
        font-size: 20px;
      }
  
      &--box{
        width: 400px;
        height: 50px;
        background-color: #EBEDF1;
        border-style: none;
      }
  
      i {
        position: absolute;
        right: 5%;
        cursor: pointer;
      }
  
      &--select {
        width: 200px;
        height: 50px;
        background-color: #EBEDF1;
        border-style: none;
      }
    }
  
    &_button{
      width: 180px;
      height: 40px;
      color: white;
      background-color: #91C9C4;
      margin: 10px auto 20px auto;
      font-size: 24px;
      border-style: none;
      box-shadow: 6px 2px 3px #c0c1c5;
    }
  
    &_link{
      color: #52A49A;
      border-bottom: 0.5px solid;
      font-size: 18px;
    }

  }

  
}

// signup.php

.craft_signup {
  margin: 40px auto !important;
}

// signup_done.php

.signup_done {

  margin: 50px auto 0 auto;

  &_text {
    margin: 10px 0;
    font-size: 20px;
  }
}

// forget.php

.forget {
  margin: 10px 50px;

  &_text {
    margin: 10px 0;
    font-size: 20px;
  }
}

// send_link.php

.sendlink {

  margin: 50px auto 0 auto;

  &_text {
    margin: 10px 0;
    font-size: 20px;
  }
}

// reset.php 

.reset {
  &_input {
    margin: 40px auto;
  }

  &_text {
    font-size: 24px;
  }
}

// reset_done.php

.reset_done {

  margin: 50px auto 0 auto;

  &_text {
    margin: 10px 0;
    font-size: 20px;
  }
}


// エージェント

.agent_signup {
  margin: 20px auto !important;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &--label{
    font-size: 16px;
  }

  &--input{
    width: 300px;
    height: 30px;
    background-color: #EBEDF1;
    border-style: none;
  }

  i {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  &--select {
    width: 200px;
    height: 30px;
    margin-right: 105px;
    background-color: #EBEDF1;
    border-style: none;
  }
}



