.favorite_container{
  background-color: #EBEDF1;
  min-height: 82vh;
  &_title{
    // width: 100vw;
    h3{
      width: 240px;
      text-align: center;
      font-size: 32px;
      color: #CF7C7C;
      font-weight: bold;
      border-bottom: 1px solid #CF7C7C;
      margin: 0px auto 10px auto;
      padding-top: 20px;
    }
    p{
      width: 240px;
      margin: 0 auto 10px auto;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
    }
  }
  .apply_modal_cover{
    width: 800px;
    height: 40px;
    margin: 30px auto 0 auto;

    .apply_modal{
      width: 460px;
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      background-color: white;
      border-radius: 8px;
      position: relative;
      @include tb{
        margin-top: 30px;
      }
      &::before{
        content: "";
    position: absolute;
    top: 100%;
    left: 6%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid white;
      }
  
      p{
        font-size: 14px;
        font-weight: bold;
        margin-top: 6px;
        position: relative;
        left: 26px;
        margin-right: 4px;
      }
      .check_count{
        font-size: 30px;
        color: #52A49A;
      }
      input{
        border-style: none;
        color: white;
        width: 100px;
        height: 25px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;
        background-color: #F3AF56;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 5px;
        position: relative;
        left: 40px;
        top: -5px;
      }
    }
  }
  .favorite_list{
    margin: 30px auto 0 auto;
    width: 800px;
    .favorite_ind{
      width: 800px;
      height: 200px;
      margin-bottom: 20px;
      display: flex;
      background-color: #fff;
      .checkbox{
        height: 200px;
        width: 36px;
        background-color: #CFD1D3;
        input{
          display: none;
          &:checked + label::after{
            opacity: 1;
        }
      }
        label{
          position: relative;
          width: 22px;
          height: 200px;
          display: flex;
            justify-content: center;
            align-items: center;
          cursor: pointer;
          &::before,&::after{
            content: "";
            position: absolute;
            display: block;

          }
          &::before{
            background-color: #fff;
  border-radius: 0%;
  width: 24px;
  height: 24px;
  left: 6px;
  
          }
          &::after{
            border-bottom: 3.5px solid #52A49A;
  border-left: 3.5px solid #52A49A;
  opacity: 0;
  height: 12px;
  width: 24px;
  transform: rotate(-45deg);
  position: relative;
  top: -3px;
  left: 8px;
          }
        }
      }
      &_title{
        height: 200px;
        width: 300px;
        h2{
          width: 300px;
          text-align: center;
          margin: 5px auto;
          font-size: 16px;
        }
        img{
          width: 244px;
          height: 146px;
          object-fit: contain;
          margin: 0px 28px 5px 28px;
        }
        a{
          width: 200px;
          border-style: none;
          color: #fff;
          background-color: #CF7C7C;
          border-radius: 10px;
          cursor: pointer;
          margin: 0px auto;
          height: 14px;
          padding: 2px 5px;
          position: relative;
          top: -4px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        

      }
      &_info{
        height: 200px;
        width: 325px;
        .tags{
          display: flex;
          flex-wrap: wrap;
          margin-top: 5px;
          margin-bottom: 5px;

          p{
            font-size: 13px;
                    margin: 3px 3px 3px 3px;
                    padding: 2px 6px;
                    border: 1px solid;
                    border-radius: 15px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
          }
        }
        .agent_info_cover{
          position: relative;

          .agent_info{
            color: #52A49A;
                  font-size: 15px;
                  font-weight: bold;
                  width: 80%;
                  margin: 10px auto;
                  text-align: center;
                  &::before {
                    content:"";
                    display:inline-block;
                    width:3px;
                    height:33px;
                    background-color:#52A49A;
                    position:absolute;
                    // bottom: 95px;
                    top: 4px;
                    left: 10px;
                    transform: rotate(-30deg);
                    @include mb {
                      height: 40px;
                    }
                  }
      
                  &::after{
                    content:"";
                    display:inline-block;
                    width:3px;
                    height:33px;
                    background-color:#52A49A;
                    position:absolute;
                    // bottom: 95px;
                    top: 4px;
                    right: 10px;
                    transform: rotate(30deg);
                    @include mb {
                      height: 40px;
                    }
                  }
                  // position: absolute;
                  // bottom: 95px;
                  // left: 50%;
                  // transform: translateX(-50%);
          }
        }
        .agent_points_cover{
          position: relative;
          .agent_points{
            color: #000;
              font-size: 12px;
              font-weight: bold;
              position: absolute;
              top: -15px;
              margin: 0;
              ul {
                margin: 20px 0 0 0;
                padding-inline-start: 10px;
                li {
                  list-style-type: disc !important;
                  margin-bottom: 5px;
                }
              }
          }

        }
      }
      &_buttons{
        height: 200px;
        width: 140px;
        display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        .last_time{
          width: 140px;
          height: 40px;
          color: orange;
          font-weight: bold;
          text-align: center;
        }
        .student_numbers{
          width: 140px;
          height: 50px;
          font-size: 18px;
          font-weight: bold;
          color: #d33f3f;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

          a{
            color: #fff;
            width: 126px;
            height: 40px;
            background-color: #52A49A;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-weight: bold;
        }
        input{
          width: 126px;
          height: 40px;
          background-color: #F3AF56;
          display: flex;
          justify-content: center;
          align-items: center;
          border-style: none;
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
    .cart-btn{
      width: 800px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 40px;
      a{
        color: #fff;
        width: 180px;
        height: 30px;
        background-color: #52A49A;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;

      }
    }
  }
}

.cart-btn{
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .result_only{
    color: #fff;
    width: 180px;
    height: 30px;
    background-color: #52A49A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
  }
  .result_back{
    color: #fff;
    width: 180px;
    height: 30px;
    background-color: #52A49A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    left: 12vw;

  }
  .info_back{
    color: #fff;
    width: 180px;
    height: 30px;
    background-color: #F3AF56;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    position: relative;
    right: 12vw;
  }
}

.error{
  width: 100vw;
  height: 50vh;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button{
  width: 800px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  .result_back{
    color: #fff;
    width: 180px;
    height: 30px;
    background-color: #52A49A;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
  }
  .info_back{
    color: #fff;
    width: 180px;
    height: 30px;
    background-color: #F3AF56;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
  }
}