#search_modal{
  display: none;
}

.top_container{
  background-color: #EBEDF1;
  h2{
    width: 450px;
    margin: 0 auto;
    color: #52A49A;
    position: relative;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    &::before{
      content:"";
      display:inline-block;
      width:2px;
      height:55px;
      background-color:#52A49A;
      position:absolute;
      top:15px;
      left:0px;
      transform: rotate(-20deg);
    }
    &::after{
      content:"";
      display:inline-block;
      width:2px;
      height:55px;
      background-color:#52A49A;
      position:absolute;
      top:15px;
      right:0px;
      transform: rotate(20deg);
    }
  }
  .search-button{
    width: 24vw;
    height: 58px;
    border-radius: 4.5vh;
    background-color: #F3AF56;
    color: white;
    border-style: none;
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin: 20px auto;
  }
  &_compare{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
  }

  .search_modal_container{
    position: relative;
    padding: 10px 10px;
    min-width: 50vw;
    max-width: 60vw;
    background: #fff;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 8px 8px rgb(203, 202, 202);

    &::before{
      content: "";
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-bottom: 15px solid #fff;
    }

    &--tag{
      margin: 10px 20px;
      h3{
        font-weight: lighter;
        font-size: 1.6vw;
      }
      &__tags{
        display: flex;
        flex-wrap: wrap;
        width: 25vw;
        align-items: center;
        input{
          display: none;
          &:checked + label::after{
            opacity: 1;
          }
        }
        label{
          position: relative;
          cursor: pointer;
          padding-left: 2vw;
          font-size: 1.8vw;
          margin-right: 2.0vw;
          margin-bottom: 1.5vh;

          &::before,&::after{
            content: "";
            display: block; 
            border-radius: 50%;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;

          }

          &::before{
            background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 1.8vw;
  height: 1.8vw;
  left: -0.4vw;
          }

          &::after{
            background-color: #ddd;
  border-radius: 50%;
  opacity: 0;
  width: 1.5vw;
  height: 1.5vw;
  left: -0.2vw;
          }
        }
      }
    }
    
  }
  .search-buttons{
    width: 25vw;
    margin: 20px;
    .search_modal_container--buttons{
      border-style: none;
      background-color: #52A49A;
      color: white;
      font-weight: bold;
      height: 55px;
      border-radius: 28px;
      width: 20.7vw;
      font-size: 1.8vw;
      position: relative;
      top: 30px;
      left: 3vw;
    }
  }
  &_agents{
    width: 94.8vw;
    // padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    &--all{
      width: 27vw;
      height: 30vh;
      background-color: white;
      cursor: pointer;
      margin: 0 2.3vw 30px 2.3vw;
      box-shadow: 0px 8px 8px #c4c4c4;
      &__text{
        width: 100%;
        background-color: #91C9C4;
        padding: 5px 0;
        h4{
          color: white;
          position: relative;
          left: 10px;
          font-weight: lighter;
          margin: 0;
        }
      }
      &__flex{
        display: flex;
        justify-content: space-between;
        &--left{
          width: 13.5vw;
          height: 26vh;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 12.5vw;
            object-fit: contain;
            
          }
        }
        &--right{
          width: 13.5vw;
        }
      }
    }
  }
}