@use 'header';
@use 'footer';

/*
1440~768 pc~tablet
768~     tablet~smartphone
*/

@mixin tb {
  @media screen and (max-width: 768px) {
    @content;
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
