@import 'header';
@import 'footer';
@import 'login';
@import 'craft_home';
@import 'craft_edit';
@import 'craft_tag';
@import 'craft_edit_tag';

/*
1440~768 pc~tablet
768~     tablet~smartphone
*/

@mixin tb {
  @media screen and (max-width: 768px) {
    @content;
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/*
=====================HEADER=====================
*/

.header {
  background: #52a49a;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;

  @include tb {
    // margin: 0;
    // text-align: center;
  }
}

.header_logo {
  display: flex;
  align-items: center;

  & p {
    font-size: 2em;
    color: #ffffff;
    font-weight: 700;

    @include tb {
      font-size: 1em;
    }
  }

  & img {
    @include tb {
        width: 100px;
      }
  }
}

/*
=====================TABLE admin_student_info.php=====================
*/

.table_container{
  padding: 5% 5%;
  //適当に変えて〜
}

/*
=====================FOOTER=====================
*/

.footer {
  background: #52a49a;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;

  &_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      @include tb {
        width: 100px;
      }
    }
  }
}